@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
:root {
  --background: #101010;
  --foreground: #f0f0f0;
  --foreground-dimmed: #bbb;
  --accent: #3e8194;
  --bg: #33333f;
}
body {
  font-family: 'JetBrains Mono';
  margin: 0;
  padding: 1vh;
  color: var(--foreground);
  /* background: var(--foreground-dimmed); */
  background: var(--bg)
}
button {
  border: none;
  background: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
button:hover {
  color: var(--foreground-dimmed);
}
.container {
  height: 98vh;
  display: grid;
  grid-template: 5% 94% / 19% 80%;
  grid-template-areas: 
  "nav nav"
  "sidebar content";
  grid-gap: 1%;
}
.panel {
  background: var(--background);
  /* border-radius: 15px; */
  padding: 10px;
}
nav {
  grid-area: nav;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add {
  font-size: 40px;
}@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar {
  grid-area: sidebar;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addProject, .addTask{
  /* border-top: 1px solid var(--foreground-dimmed); */
  text-align: center;
}
.task {
  padding: 5px;
  margin: 15px;
  /* border: 1px solid var(--foreground-dimmed);
  border-radius: 5px; */
  border-bottom: 1px solid var(--foreground-dimmed);
}
.taskCreationMenu {
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  display: none;
  transition: 1s;
}
.fade{
  opacity: 1;
}
.taskCreationMenu > input{
  border: none;
  background: var(--background);
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  outline: none;
}
.radios{
  font-size: 15px;
  text-align: left;
  background: var(--background);
  margin: 5px;
  padding: 5px;
}
@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .container {
    grid-template-areas: 
    "nav nav"
    "content content";
  }
}